.card{
    background:transparent;
    border: 0.1rem solid var(--main-color);
    color:var(--main-color);
    padding: 0.3rem;
    transition: 0.3s ease-in-out;
    border-radius: 5%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.card:hover{
    transform: scale(1.1)translateY(-2px);
    // box-shadow: 0 0 25px var(--main-color);
    // background-color: var(--main-color);
}

.no-resize {
    resize: none; /* Desactiva el redimensionamiento del textarea */
    width: 300px;  /* Ancho del 100% del contenedor */
    height: 400px; /* Altura predefinida */
}
.button{
    width: 9rem;
    height: 4rem;
    color:var(--main-color);
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
}

.button:hover{
    color: white;
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 50px var(--main-color);
    background-color: var(--main-color);
    padding: 5px;
}

.icon{
    border-radius: 1rem 1rem;
    background-color: white;
}
.centered-card {
    margin: 0 auto; /* Centra el componente horizontalmente */
  }

  @media (max-width: 425px) {
    .centered-card {
      width: 100%; /* Ajusta el ancho del componente al 100% */
      max-width: 400px; /* Ajusta el ancho máximo del componente */
      margin: 0 auto; /* Centra el componente horizontalmente */
    }
  }

  .cv-icon{
    width: 3rem;
    height: 3rem;
    color:var(--main-color);
    transition: 0.3s ease-in-out;
}
.cv-icon:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 50px var(--main-color);
    background-color: var(--main-color);
    padding: 5px;
}
