<div class="background">
  <app-navbar></app-navbar>
  <section id="about-me" class="container">
    <div class="row mt-5">
      <app-about-me class="col-12"></app-about-me>
    </div>
  </section>
  <section id="skills" class="container">
    <div class="row mt-5">
      <app-skills class="col-12"></app-skills>
    </div>
  </section>
  <!-- <section id="contacts">
    <app-contacts></app-contacts>
  </section> -->
  <section id="proyect" class="container">
    <div class="row mt-5 justify-content-center">
      <app-proyect class="col-12"></app-proyect>
    </div>
  </section>

  <app-footer></app-footer>
</div>